Oi!
<button (click)="enviarMensagem('Teste')">Enviar mensagem de teste</button>
<ul>
  <li *ngFor="let mensagem of mensagens">{{mensagem.mensagem}}</li>
</ul>
<div class="gradient-overlay"></div>
<p class="rolling-paragraph" [ngStyle]="{'animation':'scroll 30s linear forwards'}">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda dolores eaque ex fugiat nostrum ratione
  repellat, saepe sapiente tempora! Aut beatae error hic impedit libero magni necessitatibus neque nisi possimus
  quisquam, recusandae sequi tempora? Asperiores error eum fugiat itaque reprehenderit! Consectetur culpa dicta
  dignissimos eligendi exercitationem illo ipsam recusandae veritatis? Aspernatur at beatae blanditiis, cum delectus et
  eveniet facere facilis impedit inventore laudantium minima molestias mollitia natus neque nisi obcaecati officia
  officiis pariatur quam quas quia, rem tempora voluptatibus voluptatum! Autem deleniti dolores dolorum eaque error
  impedit, iste iure iusto nam non perferendis sapiente unde vel veniam voluptate! A architecto commodi mollitia nisi
  quae recusandae reprehenderit, repudiandae velit voluptates voluptatibus! Aspernatur dolorum ipsum quo quod
  reprehenderit sunt velit. Aut cum, ex excepturi harum iste itaque laborum modi mollitia non nulla praesentium quas
  quibusdam ratione sequi similique veniam voluptates. Ad autem incidunt ipsum quod voluptatum. A consequatur cum cumque
  cupiditate deserunt doloribus excepturi itaque labore, laborum magni officia possimus quod similique velit voluptatem.
  Aliquid eaque et hic impedit iure necessitatibus odio quaerat quam quidem repudiandae. Mollitia omnis qui quo unde.
  Cumque distinctio iusto necessitatibus perspiciatis voluptatem! Doloribus id maxime natus placeat vero. Aliquam
  asperiores cumque dolores esse nam nemo nobis obcaecati repellat voluptatem! Accusantium amet debitis delectus earum
  expedita harum hic illo illum iure, laborum maxime officiis perspiciatis placeat sit vel? Delectus deserunt id ipsum
  numquam perferendis quibusdam. A asperiores eligendi neque nesciunt omnis praesentium recusandae saepe voluptate. Amet
  aperiam architecto, assumenda atque deserunt dicta dolor doloribus enim eos eveniet facere harum hic illo illum in
  iure, labore magnam magni maxime nulla omnis pariatur porro quasi qui ratione repellat reprehenderit sapiente, sint
  voluptas voluptates! A adipisci amet aut autem, culpa deleniti doloribus enim facilis in iure magni minima modi
  obcaecati quia quibusdam sequi, sunt suscipit veritatis voluptatem voluptates. A ab blanditiis deleniti dolorem
  ducimus, ea eum expedita impedit in nam non quae quam qui quidem quod quos, sed sequi sunt totam ut vel voluptatem
  voluptatibus! Ab adipisci aliquid commodi consequatur consequuntur corporis cumque debitis delectus distinctio
  doloribus ea eligendi eos ex expedita hic incidunt iste iusto laboriosam, laborum, nam neque nulla obcaecati omnis
  perferendis provident quas quibusdam quisquam quod quos repellat saepe sequi similique sit tempore ut vero voluptatum.
  Eveniet fugit laborum quibusdam recusandae veniam. Alias, atque culpa deleniti doloremque ea eligendi et eum facere
  facilis ipsum iure laborum mollitia nemo provident, quis saepe sequi similique sit sunt voluptates. Accusamus adipisci
  aspernatur at blanditiis illo impedit, ipsa laudantium, libero magnam molestias nostrum numquam, optio quis recusandae
  voluptatum. Ad at dicta dolore dolorem eum iste libero magni neque nesciunt obcaecati odio officiis pariatur,
  perferendis sed soluta tenetur vel velit voluptas! Alias asperiores aspernatur assumenda beatae delectus distinctio
  dolor doloribus ea et excepturi facere facilis id illum laudantium magni maiores modi molestiae natus necessitatibus
  non, nostrum numquam quas, quasi quod reiciendis reprehenderit sed sunt tempore temporibus unde vel velit voluptatem
  voluptatum? Alias cupiditate delectus dicta doloremque dolorum eius enim iusto magnam molestias nihil officiis quasi
  ratione reiciendis repudiandae, sapiente totam ullam voluptatem. Ad alias consequuntur illo modi mollitia nisi nostrum
  obcaecati odit voluptatibus? Accusantium ad amet aut beatae deleniti deserunt dolores eligendi error id illo illum, in
  incidunt ipsa ipsam ipsum laudantium nostrum officia porro, possimus provident quas quisquam quod recusandae
  reprehenderit suscipit ut veniam voluptas. A cupiditate eaque enim est ex, hic iure maiores natus necessitatibus nihil
  nulla perferendis quae quibusdam ratione repellat sequi ullam veniam voluptate. Dicta dolorum facere ipsum iusto
  laboriosam minus molestias pariatur quibusdam soluta totam. Accusantium adipisci, aperiam dignissimos dolorem earum,
  eius et excepturi hic modi necessitatibus perspiciatis quos recusandae soluta sunt totam. Ab accusamus alias animi
  aperiam aut autem cum, cumque dolorem dolores doloribus ea eos esse et eum exercitationem expedita incidunt iste
  laudantium minus molestias natus nihil nisi nobis omnis perspiciatis porro quae reiciendis rerum, sequi sit suscipit
  tempora tempore totam ut voluptate voluptatem voluptatibus? Aliquam aliquid animi at atque beatae blanditiis
  consectetur, deleniti dolorem eaque eius et exercitationem fugiat harum magnam maiores modi molestiae nemo nihil odio
  officiis quasi quibusdam quis sapiente sed sit sunt tenetur unde vel velit veniam voluptas voluptate voluptates
  voluptatibus! Culpa error nesciunt nostrum repellendus tempora? Ab aut commodi debitis delectus distinctio dolor
  dolorem explicabo illum impedit iure laudantium magni maxime minus mollitia necessitatibus non nulla numquam obcaecati
  odit optio perferendis praesentium quaerat, sapiente sint totam vel voluptatum. A accusamus ad aliquam aliquid aut
  blanditiis consequatur dicta, eaque esse et excepturi incidunt ipsa iusto laboriosam nam nihil omnis perferendis
  possimus praesentium quam recusandae rem sed soluta tempore vel. Amet aut cum mollitia possimus quae. Aliquam aliquid
  atque commodi cupiditate dicta est excepturi expedita, facilis fuga harum in inventore ipsam iste magnam modi mollitia
  non nostrum numquam perspiciatis porro provident quas qui quia quibusdam recusandae, sed ut voluptates? Aliquid aut,
  dolor eum excepturi fugiat ipsa laboriosam neque obcaecati perferendis praesentium sed sunt velit vero. Adipisci alias
  atque beatae delectus deleniti dignissimos dolor dolore dolorem doloribus ea eos est, eveniet fugiat illum inventore
  iure laboriosam molestias nam nobis odit officia pariatur porro quasi quia quibusdam quisquam quo reprehenderit rerum
  sed sint sit tempora tempore voluptatibus? Accusantium alias assumenda dolores doloribus magnam officia perspiciatis,
  vel voluptas! Alias aliquam aliquid commodi, consectetur explicabo facilis iste labore laborum libero minus molestiae
  necessitatibus possimus sunt tenetur voluptate? Aliquid corporis fuga fugit, necessitatibus odit ratione? Architecto
  aspernatur culpa deleniti doloremque dolores et expedita iusto maiores mollitia, nemo officia placeat quisquam
  recusandae! Alias amet atque aut, cumque cupiditate dolores, ducimus expedita fugiat inventore labore maxime molestiae
  mollitia non praesentium, quaerat quam sunt. A aliquid aspernatur assumenda atque cum delectus enim et eum eveniet ex
  exercitationem facilis illo in itaque, laudantium libero magnam minus necessitatibus nisi, provident quae quasi
  quibusdam quos reiciendis sed sunt suscipit unde veniam vitae, voluptatem. Dignissimos perspiciatis quo rem? Aliquid
  aperiam at consequuntur corporis culpa debitis et maxime molestiae nam natus odit, perspiciatis, quibusdam quis, quos
  sit sunt suscipit voluptates! Autem dicta dolorem doloremque eligendi enim facilis perferendis quae, recusandae.
  Accusantium, corporis culpa dolor dolorem ea eius eveniet ipsam laboriosam libero, molestias, natus perspiciatis sunt?
</p>
